.button-container {
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.menu-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  background-color: #fff;
}

.dish-img {
  width: 100%;
  border-radius: 8px;
}
